# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [6]:
# import libraries
import pandas as pd
import sqlite3
from sqlalchemy import create_engine
import os

In [7]:
# installing execution time measurement tools 
!pip install ipython-autotime
%load_ext autotime

Collecting ipython-autotime
  Using cached ipython_autotime-0.3.0-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: ipython in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython-autotime) (7.19.0)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (0.18.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (51.0.0.post20201207)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (3.0.8)
Requirement already satisfied: backcall in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (0.2.0)
Requirement already satisfied: pygments in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (2.7.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (0.4.4)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from ipython->ipython-autotime) (0.7.5)
Collecting parso<0.9.0,>=0.8.0
  Downloading parso-0.8.1-py2.py3-none-any.whl (93 kB)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\envs\2_disaster_response_pipeline\lib\site-packages (from traitlets>=4.2->ipython->ipython-autotime) (0.2.0)
Installing collected packages: parso, ipython-autotime
  Attempting uninstall: parso
    Found existing installation: parso 0.7.0
    Uninstalling parso-0.7.0:
      Successfully uninstalled parso-0.7.0
Successfully installed ipython-autotime-0.3.0 parso-0.8.1
time: 0 ns (started: 2021-01-03 17:54:47 +01:00)

In [8]:
# load messages dataset
messages = pd.read_csv('data/messages.csv')
print(f'Shape of `messages` df : {messages.shape}')p
messages.head()

Shape of `messages` df : (26248, 4)
time: 78 ms (started: 2021-01-03 17:54:47 +01:00)

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [9]:
# load categories dataset
categories =  pd.read_csv('data/categories.csv')
print(f'Shape of `categories` df : {categories.shape}')
categories.head()

Shape of `categories` df : (26248, 2)
time: 78 ms (started: 2021-01-03 17:54:47 +01:00)

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [10]:
# merge datasets
df = messages.merge(categories, how='left', on='id')
print(f'Shape after merging : {df.shape}')
df.head()

Shape after merging : (26386, 5)
time: 16 ms (started: 2021-01-03 17:54:47 +01:00)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [11]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';',expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

time: 187 ms (started: 2021-01-03 17:54:47 +01:00)

In [12]:
# select the first row of the categories dataframe
row = categories.iloc[-1]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
prefix='category:'
category_colnames = row.apply(lambda col_name: prefix + col_name[:-2]).values
print(category_colnames)

['category:related' 'category:request' 'category:offer'
 'category:aid_related' 'category:medical_help'
 'category:medical_products' 'category:search_and_rescue'
 'category:security' 'category:military' 'category:child_alone'
 'category:water' 'category:food' 'category:shelter' 'category:clothing'
 'category:money' 'category:missing_people' 'category:refugees'
 'category:death' 'category:other_aid' 'category:infrastructure_related'
 'category:transport' 'category:buildings' 'category:electricity'
 'category:tools' 'category:hospitals' 'category:shops'
 'category:aid_centers' 'category:other_infrastructure'
 'category:weather_related' 'category:floods' 'category:storm'
 'category:fire' 'category:earthquake' 'category:cold'
 'category:other_weather' 'category:direct_report']
time: 0 ns (started: 2021-01-03 17:54:48 +01:00)

In [13]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,category:related,category:request,category:offer,category:aid_related,category:medical_help,category:medical_products,category:search_and_rescue,category:security,category:military,category:child_alone,...,category:aid_centers,category:other_infrastructure,category:weather_related,category:floods,category:storm,category:fire,category:earthquake,category:cold,category:other_weather,category:direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

time: 16 ms (started: 2021-01-03 17:54:48 +01:00)

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [14]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda col_name: col_name[-1:]).values
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])
    
categories.head()

,category:related,category:request,category:offer,category:aid_related,category:medical_help,category:medical_products,category:search_and_rescue,category:security,category:military,category:child_alone,...,category:aid_centers,category:other_infrastructure,category:weather_related,category:floods,category:storm,category:fire,category:earthquake,category:cold,category:other_weather,category:direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

time: 1.03 s (started: 2021-01-03 17:54:48 +01:00)

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [15]:
# drop the original categories column from `df`
df.drop(columns=['categories'], inplace=True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

time: 16 ms (started: 2021-01-03 17:54:49 +01:00)

In [16]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,category:related,category:request,category:offer,category:aid_related,category:medical_help,category:medical_products,...,category:aid_centers,category:other_infrastructure,category:weather_related,category:floods,category:storm,category:fire,category:earthquake,category:cold,category:other_weather,category:direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

time: 16 ms (started: 2021-01-03 17:54:49 +01:00)

In [17]:
df['genre'].unique()

array(['direct', 'social', 'news'], dtype=object)

time: 15 ms (started: 2021-01-03 17:54:49 +01:00)

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [18]:
# check number of duplicates
df[df.duplicated()].count()

id                                 170
message                            170
original                            76
genre                              170
category:related                   170
category:request                   170
category:offer                     170
category:aid_related               170
category:medical_help              170
category:medical_products          170
category:search_and_rescue         170
category:security                  170
category:military                  170
category:child_alone               170
category:water                     170
category:food                      170
category:shelter                   170
category:clothing                  170
category:money                     170
category:missing_people            170
category:refugees                  170
category:death                     170
category:other_aid                 170
category:infrastructure_related    170
category:transport                 170
category:buildings                 170
category:electricity               170
category:tools                     170
category:hospitals                 170
category:shops                     170
category:aid_centers               170
category:other_infrastructure      170
category:weather_related           170
category:floods                    170
category:storm                     170
category:fire                      170
category:earthquake                170
category:cold                      170
category:other_weather             170
category:direct_report             170
dtype: int64

time: 141 ms (started: 2021-01-03 17:54:49 +01:00)

In [19]:
# drop duplicates
df.drop_duplicates(inplace=True)

time: 141 ms (started: 2021-01-03 17:54:49 +01:00)

In [20]:
# check number of duplicates
df[df.duplicated()].count()

id                                 0
message                            0
original                           0
genre                              0
category:related                   0
category:request                   0
category:offer                     0
category:aid_related               0
category:medical_help              0
category:medical_products          0
category:search_and_rescue         0
category:security                  0
category:military                  0
category:child_alone               0
category:water                     0
category:food                      0
category:shelter                   0
category:clothing                  0
category:money                     0
category:missing_people            0
category:refugees                  0
category:death                     0
category:other_aid                 0
category:infrastructure_related    0
category:transport                 0
category:buildings                 0
category:electricity               0
category:tools                     0
category:hospitals                 0
category:shops                     0
category:aid_centers               0
category:other_infrastructure      0
category:weather_related           0
category:floods                    0
category:storm                     0
category:fire                      0
category:earthquake                0
category:cold                      0
category:other_weather             0
category:direct_report             0
dtype: int64

time: 141 ms (started: 2021-01-03 17:54:49 +01:00)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [21]:
# create db folder
db_base_folder='db'
if not os.path.exists(db_base_folder):
    os.makedirs(db_base_folder)

# write df to sqllite-db
engine = create_engine(f'sqlite:///{db_base_folder}/disaster_messages_db.db')
df.to_sql('disaster_messages', if_exists='replace', con=engine, index=False)

time: 797 ms (started: 2021-01-03 17:54:49 +01:00)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [21]:
# see `data/process_data.py`

time: 797 ms (started: 2021-01-03 17:54:49 +01:00)